name: Build & Deploy to Cloud Run

on:
  push:
    branches:
      - gcp-devtest

env:
  PROJECT_ID: provarity-devtest
  REGION: us-central1
  REPO: prov-ar-dev-212-artifactregistry-1
  ARTIFACT_DOMAIN: us-central1-docker.pkg.dev
  CLOUD_RUN: run4-dev-220-cloudrun-1
  APP_IMAGE: app
  WORKER_IMAGE: workers

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud with WIF
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: projects/471809734182/locations/global/workloadIdentityPools/github-identity-pool/providers/github-actions-provider
          service_account: github-action-dev@provarity-devtest.iam.gserviceaccount.com
    
      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker $ARTIFACT_DOMAIN
        
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
        
      - name: Print active service account
        run: |
          echo "Authenticated account:"
          gcloud auth list

      - name: Print authenticated service account
        run: |
          echo "Authenticated account:"
          gcloud auth list
          echo ""
          echo "Service account email from access token"
          ACCESS_TOKEN=$(gcloud auth print-access-token)
          curl -s https://oauth2.googleapis.com/tokeninfo?access_token=$ACCESS_TOKEN | jq .
                
      - name: Build and Push container images from docker-compose (overwrite latest)
        run: |
          docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$APP_IMAGE . --build-arg CMD="npm start"
          docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$WORKER_IMAGE . --build-arg CMD="node all-workers.js"
          
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$APP_IMAGE
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$WORKER_IMAGE
          
      - name: Check cloud run existence
        id: check-run
        run: |
          if gcloud run services describe $CLOUD_RUN --region=$REGION --platform=managed; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Deploy APP to cloud run
        if: steps.check-run.outputs.exists == 'true'
        run: |
          gcloud run deploy $APP_IMAGE \
            --image=$REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$APP_IMAGE \
            --region=$REGION \
            --platform=managed \
            --set-env-vars="NODE_ENV=production,PORT=8080"\
            --allow-unauthenticated \
            --quiet

      - name: Deploy Workers to cloud run
        if: steps.check-run.outputs.exists == 'true'
        run: |
          gcloud run deploy $WORKER_IMAGE \
            --image=$REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$WORKER_IMAGE \
            --region=$REGION \
            --platform=managed \
            --set-env-vars="NODE_ENV=production,PORT=8080"\
            --allow-unauthenticated \
            --quiet

   

